@{
    ViewBag.Title = "Home Page";
}

@section PageScripts{

<script type="text/javascript">
        $(document).ready(function () {
            $(".search-btn").click(function (event) {
                $.get("/Home/Search", {
                    name: $('#nameFilter').val(), type: $('#typeFilter').val(), price: $('#priceFilter').val(), glotenFree: $('#glotanFilter').prop('checked'), vegan: $('#veganFilter').prop('checked')
                }, function (result) {
                    $('.pastery-grid').html(result);
                })
            });

            $(".clear-search-btn").click(function () {
                $('#nameFilter').val('');
                $('#typeFilter').val('');
                $('#priceFilter').val('');
                $('#glotanFilter').removeAttr('checked');
                $('#veganFilter').removeAttr('checked');
                $.get("/Home/Search", function (result) {
                    $('.pastery-grid').html(result);
                } );
            });

            $("input[type=checkbox]").click(function (e) {
                e.target.checked ? $(e.target).attr('checked', 'checked') : $(e.target).removeAttr('checked');
            });

            $(".add-to-cart").click(function (event) {
                var $itemContainer = $(event.target.parentElement);
                var pasteryId = $itemContainer.attr("id");
                var pasteryName = $itemContainer.find('h5').text();
                var price = $itemContainer.find('p').text().replace('$','');

                $.get("/Home/AddToCart",
                    {pasteryId : pasteryId, pasteryName : pasteryName, price : price},
                    function (result) {
                        if (result) {
                            var $cart = $('#cartDisplay');
                            var counter = parseInt($cart.attr('data-counter')) + 1;
                            $cart.find('a').text("Cart (" + counter + ")");
                            $cart.attr('data-counter', counter);
                        }
                     })
            });

            $(".pagination li a").click(function (event) {
                $.get("Home/Search", {
                    page: $(event.target).text()
                },
                    function (result) {
                        $('.pastery-grid').html(result);
                        $(".pagination li").removeClass('active');
                        $(event.target).parent().addClass('active');
                    })
            });

        });
</script>
}
<div>
    <div style="margin-top:200px">
        <div class="pull-left panel panel-default">
            <h3>Refine Pasteries</h3>
            <div class="search-group panel-body">
                <div class="form-group">
                    <label for="nameFilter">Name</label>
                    <input type="text" class="form-control" id="nameFilter" />
                </div>
                <div class="form-group">
                    <label for="typeFilter">Type</label>
                    <input type=text list=types class="form-control">
                    <datalist id=types>
                        <option> Breads
                        <option> Cupcakes
                        <option> Cakes
                        <option> Bagel
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="priceFilter">Price</label>
                    <input type="text" class="form-control" id="priceFilter" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="glotanFilter"> Glotan Free
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="veganFilter"> Vegan
                    </label>
                </div>
                <button class="btn btn-default search-btn">Search</button>
                <button class="btn btn-default clear-search-btn">Reset</button>
            </div>
       </div>
        <div class="pull-left panel panel-default" style="margin-left:50px">
            <div class="panel-body pastery-grid">
                <section>
                @Html.Partial("Search")
            </section>
            </div>
            <div>
                <ul class="pagination">
                    <li class="disabled"><a>&laquo;</a></li>
                    <li class="active"><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
