@model System.Collections.Generic.IEnumerable<BakeBFlake.Models.Pastery>

           
<ul class="small-block-grid-3">
    @foreach (var item in Model)
    {
        <li id="@item.Id">
            <img src="@item.ImageLink" />
            <h5>@item.Name</h5>
            <p>@item.Price$</p>
            <button class="btn add-to-cart">+</button>
        </li>
    }
</ul>
