@model BakeBFlake.Models.Order

@{
    ViewBag.Title = "Checkout";
}

<div class="panel" style="margin-top:200px">
    <section>
        <h1>Your Order Has Been Completed</h1>
    </section>
    <section>
        <h3>Confirmation: @Model.Id</h3>
    </section>
    <br/>
    <div>
        <h5>Thanks for shoping at BakeNFlake!</h5>
    </div>
</div>
